body {
    display: flex;
    flex-direction: column;
}

.ui.text.container {
    margin-top: 7em;
}

.main.container {
    margin-top: 7em;
    flex-grow: 1;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.blockid {
    display: table-cell;
    margin: auto;
}

table#blockheaders th {
    width: 110px; /* Needs to match the blockWidth constant in Haskell */
    text-align: center;
}

div.block-table div.spacer-row:last-child {
    display: none;
}

td {
    vertical-align: middle;
}

div.header-row {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-right: 1px solid rgba(34, 36, 38, 0.1);
    display: flex;
}

div.block-row {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-right: 1px solid rgba(34, 36, 38, 0.1);
    display: flex;
    animation-name: row-slide-in;
    animation-duration: 2s;
    overflow-y: hidden;
}

@keyframes row-slide-in {
    0% { max-height: 0; }
    100% { max-height: 200px; }
}

div.block-row:last-child {
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

span.block-height {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    width: 102px;
    padding: 5px;
    background: rgba(0,0,0,.03);
    font-weight: bold;
}

span.table-header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    width: 102px;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

span.summary-details {
    display: inline-block;
    width: 102px;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    padding: 0;
    margin: 0;
}

span.hovered-block {
    background-color: rgba(0,0,0,0.05);
}

div.summary-inner {
    padding: 5px;
    animation-name: my-block-fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes my-block-fade-in {
    0% { background-color:  #ffffe0; }
    100% { background-color: white; }
}

.blockshape {
    background: #e0e1e2 none;
    padding: 5px;
}
