.main.container {
    margin-top: 7em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.blockid {
    display: table-cell;
    margin: auto;
}

table#blockheaders th {
    width: 110px; /* Needs to match the blockWidth constant in Haskell */
    text-align: center;
}

tbody.chainwebtable tr:last-child {
    display: none;
}

td {
    vertical-align: middle;
}

td.blocksummary {
    /*padding-top: 0;*/
    border-left: 1px solid rgba(34,36,38,.1);
    border-right: 1px solid rgba(34,36,38,.1);
    padding: 0!important;
}

div.summary-details {
    padding: 0.8em 0.8em;
    animation-name: my-block-fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes my-block-fade-in {
    0% { background-color:  #ffffe0; }
    100% { background-color: white; }
}

.blockshape {
    background: #e0e1e2 none;
    padding: 5px;
}

.blockdiv {
    padding-top: 5px;
}

td.emptyrowheader {
    background: white!important;
}
